body{
	font-size:12px;
}
#loginout {
	display:block;
	color:#fff;
}
.wu-header {
        
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-bottom: 1px #95b8e7 solid;
    background: url(../images/main/banner.png) no-repeat #393939;
    background-position: 34px;
}
.wu-header-right {
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 0;
    height:100%;
    color: #fff;
    text-align: right;
}
.wu-header-right li{
	display: inline-block;
    height: 100%;
    line-height: 1rem;
    float: left;
    padding: 0 0.2rem;
}
.wu-sidebar {
    width: 200px;
    background:#f4f4f4;
}

.wu-toolbar-button,
.wu-toolbar-search { padding:3px 5px;}

.wu-footer { height:20px; padding:5px; text-align:center; overflow:hidden; background:#e0ecff;}

.deng-detail-tabs{
	
}

sendLayer {
	margin: 15px 8px 15px 0;
}
.sendLayer ul {
	width: 500px;
	margin: 0 auto;
}
.sendLayer ul li {
	margin-bottom: 10px;
}
.sendLayer ul span {
	display: inline-block;
	float: left;
	width: 100px;
	text-align: right;
	font-size: 16px;
	line-height: 30px;
}
.sendLayer ul input, .sendLayer ul textarea {
	width: 390px;
	padding: 6px 0px;
	border-radius: 3px;
	border: 1px solid #ddd;
	text-indent: 1em;
	font-size: 16px;
}
.sendLayer ul input#code {
	background: #E0ECFF;
	color: #666;
	border: 2px solid #E0ECFF;
}
.sendLayer ul textarea {
	resize: none;
	height: 60px;
}
.layermchild h3 {
	background: #006bb3;
	color: #fff;
}
.sendLayer{
	margin-top:10px;
}
.tree li{
	/*height: 40px;*/
	background: #f4f4f4;
	/*border-bottom: 1px solid #fff;*/
}
.wu-side-tree .tree-node {/* padding:3px 0px; height: 100%;*/}
.wu-side-tree a{
	display:block;
	line-height: 40px;
	width: 100%;
	font-size: 14px;
	text-indent: 32px;
	color: #000;
}
.multistageTree a{
	display:block;
	color: #000;
}
.wu-side-tree .tree-node-selected {
	padding:2px 0;
	background:#f4f4f4;
	height: 36px;
}
.tree-node-selected .tree-title a{
	color:#ff7836;
}
.tree-title{	
	/*width: 100%;*/	
	padding: 0;	
	height: 100%;
} 
.panel-icon{
	width: 18px;
	height: 25px;
}
.wu-sidebar .panel-header {
	padding:0;
	height:40px;
	padding-left: 14px;
}
.wu-sidebar .panel-header .panel-title{
	height:100%;
	font-size:14px;
	font-weight:bold;
	line-height:40px;
}
.wu-sidebar .panel{
	border-bottom:1px solid #f4f4f4;
}
.tabs li.tabs-selected a.tabs-inner {
    border-top-color: #ff7836;
}
.combobox-item-selected {
    background-color: #ff7836;
    color: #fff;
}
.calendar-selected {
    background-color: #ff7836;
    color: #fff;
    border: 1px solid #ff7836;
    padding: 0;
}
.tabs-title {
    font-size: 12px;
}
.textbox .textbox-prompt {
    font-size: 12px;
    color: #000;
}
#boss input,#manager input{
	color:#aaa;
}

.icon-application-liangfangshangji{
	background: url(../images/main/liangfang.png) no-repeat;
}
.icon-application-order{
	background: url(../images/main/liangfang.png) no-repeat;
}
.icon-application-qudaohezuoshangji{
	background: url(../images/main/liangfang.png) no-repeat;
}
.icon-application-baobiao{
	background: url(../images/main/liangfang.png) no-repeat;
}
.icon-application-xitongshezhi{
	background: url(../images/main/liangfang.png) no-repeat;
}
.icon-main{
	background: url(../images/main/liangfang.png) no-repeat;
}

/* 左边的树最顶上收起展开的图标  按设计图需要居中显示  */
.layout-panel-west>.panel-header .panel-tool{
	left: 42%;
}
.layout-panel-west>.panel-header {
    background-color: #fff;
}
.panel-tool a:hover{
	background-color:transparent;
}

/* 左边的主树  不能出现横向的滚动条   如果显示不全可以向右拉动  */
.accordion-noborder .accordion-body {
    overflow-x: hidden;
}

/* ztree头部折叠和展开图标 */
.layout-button-left {
  background: url('easyui/images/treeHead_arrows.png') no-repeat 0 0;
}
.layout-button-right {
  background: url('easyui/images/treeHead_arrows.png') no-repeat -36px 0;
}


/* 主框的主tabs 和系统调整   修改easyui里面的样式   粘贴修改*/
.tabs li.tabs-selected a.tabs-inner {
    border-bottom: 1px solid #fff;
    background: #fff;
}
.panel-body {
    border-top: none;
}
#tabs {
    border-top: 1px solid #e4e4e4;
}
/*将折叠图标右置*/
.tree-expanded {
	background:url(../images/accordion_arrows.png) no-repeat -16px 0;
    margin-top: 12px;
}
.tree-collapsed{
	background:url(../images/accordion_arrows.png) no-repeat -14px -16px;
    margin-top: 12px;
    
}
.tree-node {
	height:40px;
	border-bottom: 1px solid #fff;
	position:relative;
}
.multistageTree .tree-title{
    line-height: 40px;
    margin-left: 15px;
    font-size: 14px;
}
